div{
    background-image: url('https://as2.ftcdn.net/v2/jpg/05/17/19/57/1000_F_517195733_OmTgPE2tN0uJjOMKxJRaaJRg2RL3CwG2.jpg');
    position:relative;
    background-repeat: no-repeat;
    font-size: xx-large;
    padding-top: 300px;
    padding-left: 600px;
    
    height:800px;
}